.condDiv {
  margin-top: 17px;
  background-color: chartreuse;
  border: solid black;
  border-radius: 7px;
  padding: 7px;
}
.container {
  display: flex;
  gap: 14px;
  flex-direction: column;
  height: 100vh;
}

.tempDiv {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21vw;
}
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
.condDiv {
  font-family: "Silkscreen", serif;
  font-weight: 100;
  font-style: normal;
}

.tempDiv {
  font-weight: 100;
  font-style: normal;
}

.formDiv.show {
  display: flex; /* or flex, depending on your layout needs */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 100%;
  background-color: #f8fafc;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  box-sizing: border-box;
}

.formDiv {
  position: fixed;
  pointer-events: none;
  opacity: 0%;
}

form {
  font-size: large;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
button {
  font-size: large;
}
